.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;

    & h1 {
        margin-bottom: 28px;
    }
}

.register-btn {
    margin-bottom: 28px;
}

.list {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #252525;
    border-radius: 4px;
    margin-bottom: 12px;
    justify-content: center;
    padding: 14px;

    & p {
        margin-bottom: 24px;
        margin-top: 0;
    }

    & button {
        margin-right: 8px;
        border: 0;
        border-radius: 4px;
        padding: 4px;
    }
}

.delete-btn {
    color: rgb(100, 150, 100);
    background-color: transparent;
}

.logout-btn {
    position: absolute;
    bottom: 6%;
    left: 4%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 0;
    font-weight: bold;
    background-color: rgba(200, 100, 100, .5);
    color: rgba(255, 255, 255, 0.5);
}

.logout-btn:hover {
    background-color: rgba(200, 100, 100, 1);
    color: white;
}

